.main-section {
    width: 100%;
    display: flex;
	flex-wrap: wrap;
    justify-content: space-around;    
}
.item {
    display: flex;
    align-items: center;
}
.item:nth-child(4){
    margin-top: 6%;
}
.item:nth-child(5) {
    align-items: flex-start;
}


