.main-section {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;    
}
.item {
    display: flex;
    align-items: center;
}
.item:nth-child(4){
    margin-top: 6%;
}
.item:nth-child(5) {
    align-items: flex-start;
}

/* Media queries */

@media all and (max-width:1000px) {
    .main-section {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .item {
        margin-bottom: 10%;
    }
}
@media screen and (max-width:700px) {
    .main-section {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    } 
    .item {
        margin-bottom: 10%;
    }
}
@media screen and (max-width:370px) {
    .main-section {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    } 
    .item {
        margin-bottom: 10%;
    }
}

