@import '../../styles/variables';

.hero-1{
    box-sizing: border-box;
    width: 100vw;
    position: relative;
    padding: 30px $sideMargin 0;

    .background-1{
        position: absolute;
        top: 20px;
        left: 0;
        width: 100%;
        height: auto;
        z-index: -1;
    }
    
    .background-2{
        position: absolute;
        top: 20px;
        left: 0;
        width: 100%;
        height: auto;
        z-index: 2;
        pointer-events: none;
    }
    
    .title{
        font-size: $titleFontSizeXs;
        margin-top: 0;
        margin-bottom: 0.5em;
        line-height: 1em;
        text-align: center;
    
        .not-overlapped{
            position: relative;
            z-index: 3;
        }
    }

    .text{
        position: relative;
        z-index: 3;
        text-align: center;
        font-size: 20px;
        text-align: center;
    }
}

@media(min-width: 500px){
    .hero-1{
        .title{
            font-size: $titleFontSizeS;
            text-align: left;
        }
        
        .text{
            text-align: left;
            font-size: 24px;
        }
    }
}

@media(min-width: 600px){
    .hero-1{
        padding-top: 40px;

        .title{
            font-size: $titleFontSizeM;
            max-width: 600px;
        }
        
        .text{
            max-width: 725px;
        }
    }
}

@media(min-width: 950px){
    .hero-1{
        padding-top: 50px;

        .title{
            font-size: $titleFontSizeL;
            max-width: 670px;
        }
    }
}

@media(min-width: 1400px){
    .hero-1{
        padding-top: 100px;
    }
}

@media(min-width: 1600px){
    .hero-1{
        .title{
            font-size: $titleFontSizeXl;
            max-width: 850px;
        }
    }
}
