section.second-hero{
  display: flex;
  align-items: center;
  height: 38.5rem;
  margin-top: 5rem;
  
  position: relative;
  }
  
  @media (min-width: 480px) {
    section.second-hero{
      display: flex;
      align-items: center;
      height: 54.5rem;
      position: relative;
      margin-top: 17rem;
      }
  }
  
  .second-hero-inner{
  display: flex;
  flex: 1;
  margin: auto;
  position: relative;
  z-index: 5;
  
  }
  .second-hero-content-wrapper{
    flex: 1;
  }

  .u-h-wrapper-second{
    padding: 0 2rem;
    max-width: 125rem;
    margin: auto;
  }
  
  .second-hero__title{
      font-family: 'articulatcf';
      font-weight: 600;
      position: relative;
      margin-bottom: 4rem;
      z-index: 5;
      line-height: 4rem;
      font-size: 5rem;
      /* padding: 0 2rem; */
  
  }
  
  @media (min-width: 480px) {
    .second-hero__title{
      line-height: 6.5rem;
      font-size: 8rem;
  }
  }
  
  @media (min-width: 768px) {
    .second-hero__title{
      line-height: 11.5rem;
      font-size: 14rem;
  }
  }
  
  
  .second-hero__cta{
    font-family: 'articulatcf';
    font-weight: 800;
    font-size: 2.2rem;
    font-style: italic;
    position: relative;
    z-index: 5;
    padding: 0 2rem;
    line-height: 2.7rem;
    text-transform: uppercase;
    vertical-align: middle;
    max-width: 45rem;
  }

  .second-hero__cta > span{
    display: inline-flex ;
    position: relative;
    z-index: 5;
    vertical-align: middle;
    margin-left:1.6rem;
  }

  
  @media (min-width: 480px) {
    .second-hero__cta{
      font-size: 3.8rem;
      position: relative;
      z-index: 5;
    }
  }

  .second-hero__text{
    font-family: 'articulatcf';
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 2.5rem;
    margin-top: 2rem;

    max-width: 59rem;

    position: relative;
    z-index: 5;
  }
  
  
  
  .second-hero-content-control{
    max-width: 100rem;
    display: block;
    margin: auto;
    padding: 0 2rem;
  }
  
  .second-hero-content-control-inner{
    max-width: 32rem;
    display: block;
  }
  
  
  @media (min-width: 480px) {
    .second-hero-content-control-inner{
      max-width: 100%;
    }
  }
  
  .second-hero-character-u{
    position: relative;
    z-index: 5;
  }
  
  @media (min-width: 480px) {
    .second-hero-character-u{
      position: relative;
      z-index: -2;
    }
  }
  

  
  /* BLue LINES 1 2 AND 3 */
  .second-hero__line-one{
    width: 100%;
    height: 5.6rem;
    transform:rotate(9deg) scale(1.7);
    position: absolute;
    /* bottom: -6%; */
    bottom: -65%;
    background-color: var(--light-blue-color);
    z-index: -3;
    left: 0;
    
    }
    .second-hero__line-two{
    width: 100%;
    height: 1.3rem;
    background-color: var(--light-blue-color);
    transform:rotate(-8deg) scale(1.7);
    position: absolute;
    /* bottom:77%; */
    bottom:29%;
    z-index: -1;
    left: 0;
    }
    .second-hero__line-three{
      width: 49%;
      height: 3.6rem;
      transform:rotate(-6deg) scale(1.7);
      position: absolute;
      top: -41%;
      background-color: var(--light-blue-color);
      z-index: -3;
      right: 0;
    }
  

    @media (min-width: 992px) {
      .second-hero__line-three{
        height: 5.6rem;
        top: -204%;
      }
    }
    
  
  
  