section.landing-hero{
display: flex;
align-items: center;
height: 38.5rem;
margin-top: 5rem;

position: relative;
}

@media (min-width: 480px) {
  section.landing-hero{
    display: flex;
    align-items: center;
    height: 54.5rem;
    position: relative;
    margin-top: 17rem;
    }
}

.landing-hero-inner{
display: flex;
flex: 1;
margin: auto;
position: relative;
z-index: 5;

}
.landing-hero-content-wrapper{
  flex: 1;
}

.landing-hero__title{
    font-family: 'articulatcf';
    font-weight: 600;
    position: relative;
    margin-bottom: 4rem;
    z-index: 5;
    line-height: 4rem;
    font-size: 5rem;
    /* padding: 0 2rem; */

}

@media (min-width: 480px) {
  .landing-hero__title{
    line-height: 6.5rem;
    font-size: 8rem;
}
}

@media (min-width: 768px) {
  .landing-hero__title{
    line-height: 10.5rem;
    font-size: 12rem;
}
}


.landing-hero__sub-title{
  font-family: 'articulatcf';
  font-weight: 600;
  font-size: 1.8rem;
  position: relative;
  z-index: 5;
  padding: 0 2rem;
}

@media (min-width: 480px) {
  .landing-hero__sub-title{
    font-family: 'articulatcf';
    font-weight: 600;
    font-size: 2.52rem;
    position: relative;
    z-index: 5;
  }
}


/* RED LINES 1 2 AND 3 */
.landing-hero__line-one{
width: 100%;
height: 4.9rem;
transform:rotate(9deg) scale(1.7);
position: absolute;
/* bottom: -6%; */
bottom: 0%;
background-color: var(--action-color);
z-index: -3;
left: 0;

}
.landing-hero__line-two{
width: 100%;
height: 1.3rem;
background-color: var(--action-color);
transform:rotate(-15deg) scale(1.7);
position: absolute;
/* bottom:77%; */
bottom:69%;
z-index: -1;
left: 0;
}
.landing-hero__line-three{
  width: 100%;
  height: 1.3rem;
  transform:rotate(-7deg) scale(1.7);
  position: absolute;
  /* bottom: 32%; */
  bottom: 27%;
  background-color: var(--action-color);
  z-index: -1;
  left: 0;
}







.landing-hero-content-control{
  /* max-width: 160rem; */
  display: block;
  /* margin: auto; */
}

.landing-hero-content-control-inner{
  max-width: 32rem;
  display: block;
}


@media (min-width: 480px) {
  .landing-hero-content-control-inner{
    max-width: 73rem;
    display: block;
  }
}

.landing-hero-character-u{
  position: relative;
  z-index: 5;
}
@media (min-width: 480px) {
  .landing-hero-character-u{
    position: relative;
    z-index: -2;
  }
}



