@import '../../styles/variables';

.titles{
    padding: $padding $sideMargin;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: -$padding;

    .arrow-container{
        box-sizing: border-box;
        display: inline-flex;
        justify-content: center;
        padding: 0 $padding $padding;
        flex: 0 0 100%;

        svg{
            height: 50px;
            transform: translateX(-50%);
        }
    }

    .column{
        display: inline-flex;
        flex-direction: column;
        box-sizing: border-box;
        padding: 0 35px;
        flex: 1 1 0px;

        & > * {
            margin: 35px 0;
        }
    }
}

.title-card{
    max-width: 100%;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;

    .header{
        position: relative;
        width: 100%;

        .meta{
            position: absolute;
            top: 20px;
            right: 0;
            text-align: right;
            background-color: #fff;
            padding: 12px;
            font-size: 16px;
            font-weight: 600;
        }

        .image{
            width: 100%;
            height: auto;
        }
    }

    .author {
        margin: 0;
        max-width: 100%;

        * {
            font-size: 30px;
            color: #DABABA;
            text-decoration: none;
        }
    }

    .title{
        margin: 0;
        max-width: 100%;

        * {
            font-size: 30px;
            color: #000;
            text-decoration: none;
        }
    }

    .arrow-right{
        height: 17px;
        width: 54px;
        margin-top: 10px;
    }
}

@media(min-width: 750px){
    .titles{
        .arrow-container{
            justify-content: flex-start;

            svg{
                transform: none;
            }
        }

        .column{
            &:last-child{
                margin-top: (($padding * 2) + 50px) * -1;
            }
        }
    }
}

@media(min-width: 950px){
    .titles{
        .arrow-container{
            padding: 0 ($sideMargin * 2 ) $padding;
        }
    }
}

@media(min-width: 1400px){
    .titles{
        .arrow-container{
            padding: 0 115px $padding;
        }
    }
}
