@import '../../styles/variables';

.titles{
    padding: $padding $sideMargin;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: -$padding;

    .arrow-container{
        display: inline-flex;
        justify-content: center;
        padding: 0 $padding $padding;
        width: 100%;

        svg{
            height: 50px;
        }
    }

    .column{
        display: inline-flex;
        flex-direction: column;
        box-sizing: border-box;
        padding: 0 35px;
        flex-grow: 1;

        & > * {
            margin: 35px 0;
        }
    }
}

@media(min-width: 800px){
    .titles{
        .arrow-container{
            justify-content: flex-start;
        }

        .column{
            &:last-child{
                margin-top: (($padding * 2) + 50px) * -1;
            }
        }
    }
}
