@import '../../styles/variables';

.image-text{
    display: flex;
    flex-direction: column;
    position: relative;

    .image{
        display: block;
        width: 100%;
        height: auto;
    }

    .content{
        background-color: #4E7FFA;
        padding: $sideMargin;
    }

    .text-container{
        position: relative;

        .text{
            position: relative;
            z-index: 2;
            margin: 0;
            font-size: 30px;
            font-family: 'ArticulatCFv2';
            text-align: center;
        }

        .bar{
            position: absolute;
            bottom: 0px;
            left: 50%;
            transform: translateX(-55%);
            max-width: 90%;
            height: auto;
            z-index: 1;
        }
    }

    .arrow{
        margin-bottom: -140px;
        margin-left: 40%;
        transform: translateX(-50%);
        width: 249px;
        height: 237px;
    }
}

@media(min-width: 750px){
    .image-text{
        .arrow{
            margin-left: 0;
            transform: none;
        }
    }
}

@media(min-width: 950px){
    .image-text{
        position: relative;
        flex-direction: row-reverse;
        justify-content: flex-end;
        align-items: stretch;
    
            .image{
                margin-top: -35.3%;
                max-width: 60%;
            }
    
        .content{
            width: 55%;
            margin-bottom: $sideMargin * 2;
        }

        .text-container{
            position: absolute;
            top: 50%;
            transform: translateY(-70%);
            left: $sideMargin;
            width: 700px;
            margin: 0;

            .text{
                font-size: 40px;
                text-align: left;
            }

            .bar{
                transform: none;
                max-width: 45%;
                width: 500px;
                left: 0;
                bottom: -40px;
            }
        }

        .arrow{
            position: absolute;
            left: 0;
            bottom: -8px;
            margin: 0;
            height: 150px;
            width: 157px;
        }
    }
}

@media(min-width: 1200px){
    .image-text{
        .text-container{
            .bar{
                transform: none;
                max-width: 60%;
                width: 600px;
            }
        }

        .arrow{
            bottom: -46px;
            height: 237px;
            width: 249px;
        }
    }
}
