  .article {
      background-color: #fff;
      min-height: 100vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-size: calc(10px + 2vmin);
      color: black;
  }
  
  .article .lines-group {
      position: absolute;
      top: 0;
      left: 0;
  }
  
  .article svg .line {
      stroke: #ff4d4d;
  }
  
  .article svg .line-1 {
      stroke-width: 23;
  }
  
  .article svg .line-2 {
      stroke-width: 80;
  }
  
  .article svg .line-3 {
      stroke-width: 100%;
  }
  
  .article .link {
      display: flex;
      color: #ff4d4d;
  }
  
  .article .link .svg-inline--fa {
      width: calc(10px + 2vmin);
  }