    @import '/assets/styles/includes/_vars.scss';
    .article {
        background-color: #fff;
        color: black;
        svg .line {
            stroke: #ff4d4d;
        }
        svg .line-1 {
            stroke-width: 23;
        }
        svg .line-2 {
            stroke-width: 80;
        }
        svg .line-3 {
            stroke-width: 12;
        }
        .lines-group {
            position: absolute;
            top: 0;
            left: 0;
        }
        .link {
            position: relative;
            color: #ff4d4d;
            .svg-inline--fa {
                position: absolute;
                left: calc(110px - (#{$svg-inline--fa_width} / 2 + 3.5px));
                width: $svg-inline--fa_width;
                height: calc(25px + 2vmin);
            }
        }
    }