$desktop: 1320px;
$laptop: 1024px;
$tablet: 768px;
$phone: 480px;
.section {
   .containet {
      width: 100vw;
      height: 195vh;
      display: flex;
      flex-direction: column;
      .imagewide {
         width: 100vw;
         z-index: 2;
         img {
            width: 100%;
         }
         .box-image2 {
            width: 55%;
            position: absolute;
            transform: translateY(-43.6%);
            right: 0;

            img {
               width: 100%;
            }
         }
      }
      .box {
         position: relative;

         .bg-blue {
            position: absolute;
            background-color: var(--blue);
            width: 100%;
            height: 70%;
            bottom: 0;
            left: 0;
            z-index: -1;
            display: block;
         }
         .box-info {
            transform: translateX(150px) translateY(150px);
            display: flex;
            flex-direction: column;
            width: 45rem;
            h1 {
               position: relative;
               font-size: 2.5rem;
               font-family: ArticulatCF;
               font-weight: 500;
               line-height: 65px;
            }
            .line {
               position: absolute;
               width: 30rem;
               height: 2rem;
               background-color: var(--light-blue);
               transform: skewY(10deg);
               z-index: -1;
            }

            .href_text {
               color: var(--yellow);
               font-family: ArticulatCFv2-BoldOblique;
               margin: 160px 100px;
               h2 {
                  font-size: 3.5rem;
                  text-transform: uppercase;
                  a {
                     color: var(--yellow);
                     text-decoration-line: none;
                  }
               }
            }
         }
      }
   }
}
//? desktop
@media (max-width: $desktop) {
   .section {
      .containet {
         height: 125vh;
         .box {
            .bg-blue {
               height: 60%;
               width: 100%;
            }
            .box-info {
               width: 60%;
               transform: translateX(80px) translateY(87px);
               display: block;
               h1 {
                  font-size: 2rem;
                  line-height: 50px;
               }
               .line {
                  width: 20rem;
                  height: 1.5rem;
               }

               .href_text {
                  h2 {
                     font-size: 2.7rem;
                  }
               }
            }
         }
      }
   }
}

//? laptop
@media (max-width: $laptop) {
   .section {
      .containet {
         height: 110vh;
         .box {
            .box-info {
               width: 60%;

               h1 {
                  font-size: 1.6rem;
               }
               .line {
                  width: 15rem;
                  height: 1.5rem;
               }

               .href_text {
                  h2 {
                     font-size: 2rem;
                  }
               }
            }
         }
      }
   }
}

// //? tablet
@media (max-width: $tablet) {
   .section {
      .containet {
         height: 90vh;
         .box {
            .bg-blue {
               width: 100%;
               height: 80%;
            }
            .box-info {
               transform: translateX(20px) translateY(160px);
               width: 90%;
               h1 {
                  font-size: 1.5rem;
                  line-height: 40px;
               }
            }
         }
      }
   }
}

//? phone
@media (max-width: $phone) {
   .section {
      .containet {
         height: 99vh;
         .box {
            .bg-blue {
               width: 100%;
               height: 80%;
            }
            .box-info {
               width: 90%;
               h1 {
                  font-size: 1rem;
                  line-height: 40px;
               }

               .line {
                  width: 8rem;
                  height: 1rem;
               }

               .href_text {
                  margin: 220px 50px;
                  width: 100%;
                  h2 {
                     font-size: 1.5rem;
                  }
               }
            }
         }
      }
   }
}
