.footer {
   width: 100vw;
   height: 50vh;
   background-color: rgb(0, 0, 0);
   z-index: 100;
   display: flex;
   justify-content: flex-end;
   align-items: flex-end;
   .content {
      margin: 4rem;
      img {
         width: 100px;
         display: block;
         margin-left: auto;
      }
   }
}
