/* variables*/
:root {
  --primary: #f54e52;
  --secondary: #7df7ff;
}
/* reset */
body,
p,
a,
ul,
li {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  text-decoration: none;
}

/* base styles */
body {
  background-color: #fff;
  overflow-x: hidden;
  font-family: "ArticulatCFv2-DemiBold";
  font-size: 14px;
  min-width: 320px;
}

/* fonts */
@font-face {
  font-family: "ArticulatCFv2-DemiBold";
  src: url("../fonts/ArticulatCFv2-DemiBold.ttf");
}

@font-face {
  font-family: "ArticulatCF-ExtraBold";
  src: url("../fonts/ArticulatCF-ExtraBold.ttf");
}

@font-face {
  font-family: "ArticulatCF-Medium";
  src: url("../fonts/ArticulatCF-Medium.ttf");
}
h1 {
  font-family: "ArticulatCF-ExtraBold";
  font-size: 3.5em;
}
h2 {
  font-size: 4em;
}
/* mobile styles */

/*--- Header ---*/
.showcase-image {
  height: 40vh;
}
.showcase-image_inner {
  width: 100%;
  height: 100%;
  background-image: url("../images/showcase-bg.png");
  background-size: cover;
  background-position: -35px 0;
  background-repeat: no-repeat;
}
.showcase-description {
  padding: 0 1.5em 0 1.5em;
  position: relative;
  top: -40px;
  max-width: 400px;
}

/* small tablet styles */
@media screen and (min-width: 30rem) {
  .showcase-image {
    height: 50vh;
  }
  .showcase-description {
    padding: 0 1.5em 0 2.5em;
    top: -50px;
  }
}
@media screen and (orientation: landscape) and (min-width: 30rem) {
  .showcase-image {
    height: 70vh;
  }
  .showcase-description {
    padding: 0 1.5em 0 1.5em;
    top: -40px;
  }
}

/* large tablet styles */
@media screen and (min-width: 960px) {
  body {
    font-size: 16px;
  }
  h1 {
    font-size: 5.4em;
  }
  h2 {
    font-size: 5.5em;
  }
}

/* desktop styles */
@media screen and (min-width: 48rem) {
  body {
    font-size: 18px;
  }
  h1 {
    font-size: 6.4em;
  }
  h2 {
    font-size: 8.4em;
  }
  .showcase-image {
    height: 70vh;
  }
  .showcase-description {
    padding: 0 1.5em 0 4.5em;
    top: -70px;
  }
}
