.App {
    width: 100%;    
}
.header {
width: 100%;
background:
 linear-gradient(354deg, transparent 52%, #FF3146 47%, #FF3146 55%, transparent 55%),
 linear-gradient(346deg, transparent 62%, #FF3146 62%, #FF3146 64.5%, transparent 60%),
 linear-gradient(13deg, transparent 46%, #FF3146 40%, #FF3146 54%, transparent 40%);
}
.sub-section {
padding: 10em;
margin-top: 2%;
background:
 linear-gradient(346deg, transparent 58%, #00FFFF 50%, #00FFFF 60%, transparent 40%),
 linear-gradient(353deg, transparent 74%, #00FFFF 40%, #00FFFF 80%, transparent 50%),
 linear-gradient(18deg, transparent 48%, #00FFFF 40%, #00FFFF 54%, transparent 40%);
}

