.footer-section {
    width: 100%;
    margin-top: 34rem;
}
.image-description {
    position: absolute;
    bottom: 0;
    margin-bottom: -249.8rem;
    max-width: 50rem;
    height: 25rem;
    padding: 2rem;
    background-color: royalblue;
}
.image-description > p {
    position: relative;
    font-size: 2rem;
    font-weight: bold;
    z-index: 1;
}
.image-text {
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.image-imageWide {
    position: relative;
    bottom: 24rem;
    width: 100%;
}
.image-imageText {
    position: absolute;
    margin-bottom: -255.3rem;
    max-width: 40rem;
    height: 52rem;
    right: 0;
    bottom: 1rem;
} 
.footer-bottom {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 5em;
    background-color: black;
    color: white;
    width: 100%;
}
.pull-request, .svg-logo {
    margin-top: 5em;
}
.pull-request > h1 {
    font-size: 2.7rem;
    text-transform: uppercase;
    color: sandybrown;
}
.pull-request > p {
    font-size: 1.7rem;
    font-weight: bold;
    color: sandybrown;
}
.image-stripe {
    max-width: 2rem;
    height: 5rem;
    background-color: #00FFFF;
}
.line-span {
    margin-top: 2rem;
    display: flex;
}
.line-horizontal {
    margin-top:4.5px;
    width: 6rem;
    background: #ABD671;
    height: 0.4rem;
    float: left;
}
.line-vertical {
    background-color: #ABD671;
    height: 9.2rem;
    width: 0.4rem;
    position: absolute;
    left: 8rem;
    margin-top: 0.3rem;
}
.verticalLine-span {
    display: flex;
}
.linespan-vetical {
    background-color: sandybrown;
    height: 6.6rem;
    width: 0.4rem;
    position: absolute;
    left: 8rem;
    margin-top: -8rem;
    border: none;
}
.pointer-down {
    margin-top: -2rem;  
    margin-left: 3.39rem;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 14px solid sandybrown;
    transform: rotate(90deg);
}

/* Media Queries */

@media only screen and (min-width: 600px) and (max-width: 768px) {
    .footer-bottom {
        width: 79%;
        margin-top: -46%;
    }
    .image-description {
        margin-bottom: -450rem;
        width: 38rem;
        height: 30rem;
    }
    .image-imageWide {
        bottom: 105rem;
        width: 100%;
    }
    .image-imageText { 
        margin-bottom: -420rem;
        max-width: 100%;
        right: auto;
    }
    .pull-request > h1 {
        font-size: 2rem;
    }
    .pull-request > p {
        font-size: 1rem;
    }
}
@media only screen and (min-width: 401px) and (max-width: 767px) { 
    .footer-section {
        width: 100%;
        margin-top: 98.9rem;        
    }
    .image-description {
        margin-bottom: -510rem;
        height: 36.599rem;
    }
    .image-imageWide{
        bottom: 90rem;
    }
    .image-imageText {
        margin-bottom: -474rem;
    }
}
@media screen and (max-width:400px) {
    .footer-section {
        width: 100%;
        margin-top: 104rem;        
    }
    .image-description {
        margin-bottom: -535rem;
        max-width: 100%;
        height: 38.8rem;
    }
    .image-imageWide {
        bottom: 90rem;
        width: 100%;
    }
    .image-imageText {
        margin-bottom: -495rem;
        max-width: 100%;
    }
    .line-vertical {
        height: 11.5rem;
    }
    .linespan-vetical {
        height: 6.6rem;
    }
}
@media only screen and (min-height: 812px) {
    .footer-section {
        width: 100%;
        margin-top: 113rem;
    }
}
@media screen and (max-width:320px) {
    .footer-section {
        width: 100%;
        margin-top: 101rem;
    }
    .pull-request > p {
        font-size: 0.5rem;
    }
    .image-description {
        margin-bottom: -532rem;
        max-width: 100%;
        height: 38.8rem;
    }
    .image-description > p {
        font-size: 1.6rem;
    }
    .image-text {
        width: 100%;
    }
    .image-imageWide {
        bottom: 88rem;
        width: 100%;
    }
    .image-imageText {
        margin-bottom: -493rem;
        max-width: 100%;
    }
    .line-vertical {
        height: 15.8rem;
    }
    .linespan-vetical {
        height: 6.6rem;
    }
}
